<!DOCTYPE html>
<html >
	<head>
		{% load static i18n %} 
		{% get_current_language as LANGUAGE_CODE %}
		<meta charset="UTF-8" lang="{{ LANGUAGE_CODE }}">
		<title>Pageable</title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/minibarjs@latest/dist/minibar.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>

		<div class="anchors">
			<ul>
				<li><a href="#page-1" class="active">Landing Page</a></li>
				<li><a href="#page-2">Expertise</a></li>
				<li><a href="#page-3">Portfolio</a></li>
				<li><a href="#page-4">Curriculum Vitae</a></li>
			</ul>
		</div>
		{% block body %}
		{% endblock %}		
		
		
	</body>
	<footer>
		<script type="text/javascript" src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/minibarjs@latest/dist/minibar.min.js"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
	</footer>
</html>