{% extends "base.html" %} 

{% load static i18n %} 

{% block body %}

<div id="alert"></div>
<div class="anchors">
  <ul>
    <li><a href="#page-1" class=" active">Landing Page</a></li>
    <li><a href="#page-2">Portfolio</a></li>
    <li><a href="#page-3">Services</a></li>
    <li><a href="#page-4">Contact</a></li>
    <li><a id="showNightToggle">Show Theme</a></li>
  </ul>
</div>

<main style="    width: 100vw !important; display: block !important;">
  <section class="loading">
    {% include "pages/loading.html" %}
  </section>
  <section data-anchor="Page 1">
    {% include "pages/page_1.html" %}
    {% include "components/page_1_background.html" %}
    {% include "components/chat.html" %} 

  </section>
  <section id="portfolio" data-anchor="Page 2">
    <div class="zoom-zoom" style="overflow:hidden">
      <div class="section-content section-title-center-big">

        <!-- <div class="hover_bkgr_fricc hidden">
          <span class="helper"></span>
          <div>
            <p>Add any HTML content<br />inside the popup box!</p>
          </div>
        </div>
        <div class="allProjects hidden">
          <span class="helper"></span>
          <div>
            <p>Add any HTML content<br />inside the popup box!</p>
          </div>
        </div> -->
        {% include "pages/page_2.html" %}
        {% include "components/chat.html" %} 
        {% include "components/projectpopup.html" %}
      </div>
      {% include "components/page_2_background.html" %}
  </div>

  </div>

  </section>
  <section data-anchor="Page 3">
    <div class="zoom-zoom" style="overflow:hidden">

    {% include "pages/page_3.html" %}
    {% include "components/page_3_background.html" %}
  </div>

  </section>
  <section data-anchor="Page 4">
    <div class="zoom-zoom" style="overflow:hidden;">

    {% include "pages/page_4.html" %}
    {% include "components/page_4_background.html" %}
  </div>

  </section>
  {% include "components/nightDayToggle.html" %} 
</main>


{% include "components/hamburger.html" %} 


{% endblock %}
