{% extends "base.html" %} 

{% load static i18n %} 

{% block body %}

<div id="alert"></div>
<div class="anchors">
  <ul>
    <li><a href="#page-1" class=" active"></a></li>
    <li><a href="#page-2"></a></li>
    <li><a href="#page-3"></a></li>
    <li><a href="#page-4"></a></li>
  </ul>
</div>

<main style="    width: 100vw !important; display: block !important;">
  <section class="loading">
    {% include "pages/loading.html" %}
  </section>

  <section data-anchor="Page 1">

    {% include "pages/page_1.html" %}
    {% include "components/chat.html" %} 
    <div class="grid grid--interaction">
      <a href="#page-2" class="grid__item grid__item--cursor grid__item--down"></a>
    </div>

  </section>
  <section id="portfolio" data-anchor="Page 2">
    <div class="zoom-zoom" style="overflow:hidden">
      <div class="section-content section-title-center-big">

        {% include "pages/page_2.html" %}
        {% include "components/chat.html" %} 
        {% include "components/projectpopup.html" %}
      </div>
          <div class="grid grid--interaction">
            <a href="#page-1" class="grid__item grid__item--cursor grid__item--up" ></a>
            <a class="grid__item grid__item--cursor grid__item--center" ></a>
            <a href="#page-3" class="grid__item grid__item--cursor grid__item--down"></a>
          </div>
      {% include "components/page_2_background.html" %}
  </div>

  </div>

  </section>
  <section data-anchor="Page 3">
    <div class="zoom-zoom" style="overflow:hidden">

    {% include "pages/page_3.html" %}
    <div class="grid grid--interaction">
      <a href="#page-2" class="grid__item grid__item--cursor grid__item--up" ></a>
      <a href="#page-4" class="grid__item grid__item--cursor grid__item--down"></a>
    </div>
    {% include "components/page_3_background.html" %}
  </div>
  </section>
  <section data-anchor="Page 4">
    <div class="zoom-zoom" style="overflow:hidden;">

      {% include "pages/page_4.html" %}
        <div class="grid grid--interaction">
          <a href="#page-3" class="grid__item grid__item--cursor grid__item--up" ></a>
        </div>
    {% include "components/page_4_background.html" %}
  </div>
  </section>
</main>


{% include "components/hamburger.html" %} 


{% endblock %}
