@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,600&display=swap");

html {
    --mainColor: #34a3a3;
    --secondColor: #bae8e8;
    --thirdColor: #27496d;
    --pink: #fb839e;
    --green-alt: #06d79c;
    --purple: #8a49ff;
    --orange: #fe974d;
    --bg: #34a3a3;
    --darkBlue: #0b0b0f;
    --white: white;
    --whiteLight: #ffffffcc
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px 0
}

::-webkit-scrollbar-track {
    background-color: var(--bg)
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor)
}

.intro {
    background: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1000
}

.intro-text {
    color: var(--thirdColor);
    font-family: "Open Sans", sans-serif;
    font-size: 2em
}

#intro-btn {
    display: block;
    padding: 14px 18px;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 6px;
    color: var(--white);
    border: 1px solid var(--white);
    outline: none;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    background: none;
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
    position: relative;
    margin-top: 2em;
    z-index: 10;
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%)
}

#intro-btn:hover {
    color: var(--bg);
    cursor: crosshair
}

#intro-btn::before {
    content: "";
    position: absolute;
    background: var(--white);
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    -webkit-transition: top 0.8s ease-out;
    transition: top 0.8s ease-out;
    z-index: -9
}

#intro-btn:hover::before {
    top: 0
}

.slider {
    background: var(--mainColor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 1000
}

.slider-2 {
    background: var(--orange);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 1000
}

.hide {
    background: var(--bg);
    overflow: hidden
}

.hide span {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    display: inline-block
}

.cursor-effect {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
    -webkit-backdrop-filter: invert(1);
    backdrop-filter: invert(1)
}

.link-grow {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: rgba(255, 255, 255, 0.3)
}

.effect-wrap .effect {
    position: absolute;
    z-index: 1
}

.effect-wrap .effect-1 {
    width: 20px;
    height: 20px;
    border: 3px solid var(--purple);
    right: 10%;
    bottom: 10%;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite
}

.effect-wrap .effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-animation: topBounce 3s ease-in-out infinite;
    animation: topBounce 3s ease-in-out infinite
}

.effect-wrap .effect-2 div {
    height: 3px;
    width: 3px;
    background-color: var(--pink);
    margin: 0 3px 8px;
    border-radius: 50%
}

.effect-wrap .effect-3 {
    border-top: 25px solid transparent;
    border-left: 25px solid var(--green-alt);
    left: 30%;
    top: 10%;
    -webkit-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite
}

.effect-wrap .effect-3::before {
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid var(--mainColor);
    position: absolute;
    opacity: 0.5;
    right: 0px;
    top: -25px
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes topBounce {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px)
    }
}

@keyframes topBounce {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(25px);
        transform: translateY(25px)
    }
}

.inner {
    background: var(--green-alt);
    border-radius: 10px;
    max-width: 250px;
    -webkit-clip-path: circle(10% at 83% 18%);
    clip-path: circle(10% at 83% 18%);
    padding: 2rem;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    z-index: 100
}

.inner:hover {
    -webkit-clip-path: circle(75%);
    clip-path: circle(75%);
    background: -webkit-gradient(linear, right top, left bottom, from(var(--green-alt)), to(var(--darkBlue)));
    background: linear-gradient(to bottom left, var(--green-alt), var(--darkBlue))
}

.inner span {
    float: right;
    color: var(--white);
    font-style: italic;
    font-weight: bold;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    position: relative;
    margin-right: 5%
}

.inner:hover span {
    color: rgba(255, 255, 255, 0)
}

.inner h1 {
    color: var(--white);
    padding: 0.75rem 0;
    margin-bottom: 0.75rem
}

.inner p {
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.6;
    font-weight: 300
}

.inner a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.75rem;
    border-bottom: 3px dotted var(--mainColor)
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden
}

input[type="checkbox"]:checked+label {
    background: var(--mainColor)
}

input[type="checkbox"]:checked+label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}


.intro p {
    color: var(--white);
    font-weight: 600
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

body {
    background-color: #eaeaea;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
    transition: 0.6s all linear;
}

.carousel-item__info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;

    order: 1;
    left: 0;
    margin: auto;
    padding: 0 40px;
    width: 40%;

}

.clicked-img {
    width: 100%;
}
.clicked-info {
    display: none;
}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;

    /* -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(100%);
    transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}



.carousel-item--1 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/Makita.jpg');
}


.carousel-item--2 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/booking.jpg');
}

.carousel-item--3 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/buy or rent.jpg');
}

.carousel-item--4 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/coach.jpg');
}

.carousel-item--5 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/cv.jpg');
}

.carousel-item--6 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/facebook.jpg');
}

.carousel-item--7 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/posthog.jpg');
}

.carousel-item--8 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/shop.jpg');
}

.carousel-item--9 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/WebRTC.jpg');
}

.carousel-item--10 .carousel-item__image {
    background-image: url('https://portfolio-f1492f08-f236-4a55-afb7-70ded209cb29.s3.eu-west-2.amazonaws.com/cropped/Youtube.jpg');
}




.carousel-item__container {}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content: '';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active {
    z-index: 1;
    display: flex;
    visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image {
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}