@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
/* @import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700"); */

:root {
  --background-color: rgb(224, 224, 224);
  --section-background-color: white;
  --section-text-color: black;
  --nav-color-links: black;
  --shape-colors: rgba(0, 0, 0, 0.075);
  --anchor-underline: rgba(0, 0, 0, 0.267);
  --dot-span-color: rgba(25, 25, 25, 0.15);
  --dot-color: rgba(25, 25, 25, 0.15);
  --hamburger-color: black;
  --nav-minibar: black;
  --section-underline-text-color: none;
  --svg-shape: #9aceff;
  --svg-shape-light: #81d0d185;
  --svg-shape-lighter: #81d0d13f;
}

.darkmode {
  --background-color: rgb(165, 164, 164);
  --section-background-color: rgb(85, 85, 85);
  --section-text-color: white;
  --nav-color-links: white;
  --shape-colors: rgb(224, 224, 224);
  --anchor-underline: white;
  --dot-span-color: rgba(255, 255, 255, 0.76);
  --dot-color: rgba(255, 255, 255, 0.76);
  --hamburger-color: white;
  --nav-minibar: white;
  --section-underline-text-color: gray;
  --svg-shape: white;
  --svg-shape-light: rgba(255, 255, 255, 0.445);
  --svg-shape-lighter: rgba(255, 255, 255, 0.151);
}

body {
  color: var(--section-text-color);
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: var(--background-color);
}

h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2 {
  /* font-family: Inconsolata; */
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 5rem;
  letter-spacing: -5px;
  line-height: 0.9em;
  /* min-width: 80vh; */
}

.text .btn {
  margin-top: 1rem;
}

.pg-pips {
  display: flex;
}

.token.string,
.token.number,
.token.comment,
.token.keyword,
.token.attr-value {
  opacity: 0.6;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: var(--section-text-color);
  position: relative;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}
.anchors {
  position: fixed;
  top: 25px;
  right: 50px;
  z-index: 1;
}
.anchors ul {
  margin: 0;
  padding: 0;
}
.anchors ul li {
  float: left;
  list-style: none;
}

.alert {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.zoom-zoom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  transition: all 500ms;
  background-color: var(--section-background-color);
}

.pg-active .zoom-zoom {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav a {
  color: var(--nav-color-links);
}

a::before {
  outline: none;
  color: var(--section-text-color);
  text-decoration: line-through;
}

a.active::before {
  text-decoration: none !important;
  border: none;
}

nav li:nth-child(1) a::before {
  content: "L";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(2) a::before {
  content: "P";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(3) a::before {
  content: "S";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(4) a::before {
  content: "P";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav span::after {
  background: var(--dot-span-color); /*shadow for the nav dot span */
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

/* dot navigation span */
nav li .active span {
  background: var(--dot-color);
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

/* inactive navigation dots */
nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: var(--dot-span-color);
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#settings-open {
  color: var(--nav-minibar);
  font-size: 35px;
  position: absolute;
  right: -105px;
  top: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings-open span {
  line-height: 0;
}

.active#settings span {
  position: absolute;
  left: -25px;
  z-index: 1;
}

#settings {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 250px;
  /* font-family: "Inconsolata"; */
  font-size: 14px;
  -webkit-transform: translate3d(-265px, 0, 0);
  transform: translate3d(-265px, 0, 0);
  transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#settings.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#settings .settings-inner {
  border: 3px solid var(--nav-minibar);
  border-radius: 4px;
  padding: 15px;
}
#settings h4 {
  margin: 10px 0 5px 0;
  padding: 6px 15px;
  color: var(--nav-minibar);
  text-transform: uppercase;
}
#settings button,
#settings select {
  border-radius: 4px;
  background-color: transparent;
  padding: 6px 12px;
  /* font-family: "Inconsolata"; */
  font-weight: bold;
  cursor: pointer;
  width: 125px;
}

#settings select:active {
  background-color: transparent;
}

#settings button {
  float: left;
  width: 75px;
  margin: 0 10px 15px 0;
}
#settings select {
  display: block;
  margin-top: 5px;
}
#settings label {
  color: var(--nav-minibar);
  font-weight: bold;
}
#settings .setting {
  padding: 6px 12px;
}
#settings .output {
  float: right;
}

.mb-bar {
  background-color: var(--nav-minibar);
}

.mb-track.mb-track-x {
  display: none;
}

#scroll {
  height: 90vh;
}

#listeners {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
#listeners li {
  list-style: none;
  border: 3px solid var(--nav-minibar);
  border-radius: 3px;
  color: var(--nav-minibar);
  padding: 6px 12px;
  margin: 0 10px 10px 0;
  font-weight: bold;
}
#listeners li.active {
  background-color: var(--section-background-color);
  color: var(--section-text-color);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
  border: 3px solid var(--nav-minibar);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.checkbox,
.radio {
  align-items: center;
  display: flex;
  min-height: 35px;
  position: relative;
}

.radio input,
.checkbox input {
  border: 0 none !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.radio > input + label,
.checkbox > input + label {
  cursor: pointer;
  padding: 3px 0 0 30px;
  position: relative;
  color: #fff;
}

.radio > input:disabled + label,
.checkbox > input:disabled + label {
  opacity: 0.6;
  cursor: not-allowed;
}

.radio > input + label::before,
.radio > input + label::after,
.checkbox > input + label::before,
.checkbox > input + label::after {
  font-family: "Material Design Icons";
  font-size: 21px;
  height: 25px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 25px;
  font-weight: normal;
}

.checkbox > input + label::after {
  content: "";
}

.checkbox > input:checked + label::after {
  content: "";
}

.radio > input + label::after {
  content: "";
}

.radio > input:checked + label::after {
  content: "";
}

.rangeable-container {
  margin: 20px 0 20px 0;
}

.rangeable-handle {
  border-color: transparent;
  width: 18px;
  height: 18px;
}

.rangeable-progress {
  height: 2px;
  background-color: #fff;
}

.rangeable-tooltip {
  background-color: transparent;
}
.rangeable-tooltip::before {
  border-color: transparent;
}

.rangeable-track {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  border: 3px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
}

.selectr-selected {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 7px 28px 7px 18px;
}
.selectr-selected::before {
  border-color: #fff transparent transparent;
}

.selectr-options {
  padding: 8px;
  overflow: hidden;
}

.selectr-option {
  border-radius: 2px;
  padding: 6px 10px;
}

.selectr-container.native-open .selectr-selected::before,
.selectr-container.open .selectr-selected::before {
  border-color: transparent transparent #000;
}

.selectr-container.open .selectr-selected {
  color: #000;
  background-color: #fff;
  border-color: #fff #fff transparent;
}

.selectr-options-container {
  border-width: 0 3px 3px;
  border-color: transparent #fff #fff;
}

.progress {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 5px;
}
.progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  background-color: #fff;
}

.page-progress {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 20px;
}

circle {
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 87.9645943005 87.9645943005;
  stroke-dashoffset: 87.9645943005;
}

/* Popup box BEGIN */

.hidden {
  display: none;
}
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

/*  */

a {
  outline: none;
  color: var(--nav-color-links);
  text-decoration: line-through;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: var(--nav-minibar);
}

button,
select {
  color: var(--nav-minibar);
  border-color: var(--nav-minibar);
}

a:hover,
a:visited,
.active {
  /* color: var(--section-text-color); */
  text-decoration: none !important;
  border: none;
}

button:focus,
a:link {
  outline: none;
  color: var(--nav-color-links);
  text-decoration: line-through;
}

.btn:hover,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.bg-fixed {
  background-size: cover;
}

.bg-grey {
  background-color: #f7f8f9;
}

.fs-40 {
  font-size: 40px;
}

section {
  position: relative;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-wrap,
.section-title {
  text-align: center;
}

.section-title-left {
  text-align: left;
  position: absolute;
  width: 60vh;
  left: 12vh;
  top: -30vh;
}

.title-wrap {
  position: absolute;

  left: 0;
}

.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

#header-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.jumbotron {
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}
.jumbotron:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #ffffff; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #36a7af, #0011ff); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #36a7af, #0011ff); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .jumbotron h1 {
  line-height: 0.9;
  font-weight: bold;
  display: inline-block;
  border: 15px solid #fff;
  padding: 30px;
  font-size: 9rem;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: 0.8s;
} */

.jumbotron-single h1 {
  font-size: 3rem !important;
}

/*=====  End of BUTTON  ======*/

/*==============================
=            SHAPES            =
================================*/

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(50deg);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid;
  border-color: var(--shape-colors);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid;
  border-color: var(--shape-colors);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  left: 5%;
  top: 50%;
  animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
}

.circle-2 {
  width: 70px;
  height: 70px;
  top: 20%;
  left: 83%;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}

.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}

.circle-4 {
  top: 10%;
  left: 15%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(25deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(1%, 3%) rotate(25deg);
  }
  50% {
    transform: translate(2%, 1%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 3%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

.triangle {
  width: 30%;
  padding-bottom: 21.27%; /* = width / 1.41 */
  position: absolute;
  overflow: hidden;
  border-bottom: 2px solid;
  border-color: var(--shape-colors);
}

.triangle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  transform-origin: 0 100%;
  transform: rotate(45deg);
  border-color: var(--shape-colors);
}

.triangle-1 {
  top: -40%;
  left: 5%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 6s infinite;
}
.triangle-1 img {
  height: 50px;
  width: 50px;
  transform: rotate(30deg);
}

.triangle-2 {
  top: 25%;
  right: 5%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 8s infinite;
}
.triangle-2 img {
  width: 75px;
  height: 75px;
  transform: rotate(15deg);
}

.triangle-3 {
  top: 80%;
  left: 15%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 10s infinite;
}
.triangle-3 img {
  width: 45px;
  height: 45px;
  transform: rotate(40deg);
}

.triangle-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 5s infinite;
}
.triangle-4 img {
  width: 45px;
  height: 45px;
  transform: rotate(-40deg);
}

/*=====  End of SHAPES  ======*/

/*=================================
=            PORTFOLIO            =
=================================*/
.filter-button-group {
  margin-bottom: 15px;
}
.filter-button-group a {
  margin: 5px;
  cursor: pointer;
}

.grid-link a {
  margin: 5px;
  font-size: 20px;
  color: #000;
}

.grid-portfolio {
  overflow: hidden;
}

.gutter-sizer {
  width: 2%;
}

.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.grid-item:hover .grid-info {
  top: 50%;
  opacity: 1;
}

.grid-item-wrapper:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.grid-item-wrapper:hover:before {
  opacity: 1;
}

.grid-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

/* .lightcase-icon-close:before {
  content: "\e800";
  font-family: "Linearicons-Free";
} */

.grid-title {
  text-align: center;
}

/*=====  End of PORTFOLIO  ======*/

/*=====  Form  ======*/

/* .my-form label input, */
.my-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  box-shadow: none;
}

.page-card-format {
  padding: 20px;
  margin-top: 10px;
}

.my-form {
  position: relative;
  margin: 0;
  /* margin-bottom: 20px;
  margin-top: 20px; */
  color: #757575;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}
.underline {
  /* display: block; */
  position: relative;
  height: 1px;
  width: 100%;
  top: 100%;
  background-color: #8cd8f7;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 0% 50%;
  /* transform-origin: 100% 50%; */
}

.anchors ul li a {
  padding: 12px;
  color: var(--nav-color-links);
  text-decoration: none;
  position: relative;
  font-size: 20px;
}

.anchors ul li a.active::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: var(--anchor-underline);
  content: "";
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: 50% 50%;
}

.anchors ul li a::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: var(--anchor-underline);
  content: "";
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 50% 50%;
}

input:focus ~ .underline {
  transform: scaleX(1);
}
/* input:focus + .underline {
  transform: scaleX(1);
} */

::-webkit-input-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
::-moz-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
:-ms-input-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
::placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}

/* *,
::after,
::before {
  box-sizing: unset !important;
} */

.hidden {
  display: none;
}

.field input,
.field textarea {
  /* float: left; */
  /* width: 60vh; */
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.mdb-select,
textarea {
  width: 100%;
}

.bad .underline,
.bad input,
.bad select,
.bad textarea {
  /* background-color: #ce5454; */
  border-bottom: 1px solid #ce5454;
  position: relative;
  left: 0;
  -moz-animation: 0.4s 1 shake ease;
  -webkit-animation: 0.4s 1 shake ease;
}
/*=====  END Form  ======*/

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--hamburger-color);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: var(--hamburger-color);
}

.hamburger.is-active .hamburger-inner {
  top: 11px;
}
.hamburger .hamburger-box {
  height: 0;
}

select option {
  background: transparent;
  color: var(--nav-minibar);
}

.next-btn {
  display: block;
  background: #fe974d;
  color: white !important;
  margin-top: 20px;
  font-size: 17px;
}

.fake-back {
  background: gainsboro;
  height: 100vh;
  width: 100vh;
  position: absolute;
  right: -40vw;
  z-index: -1;
}

@media (max-width: 767px) {
  .jumbotron {
    min-height: 500px;
  }
  .anchors {
    display: none;
  }
}
