@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --background-color: rgb(165, 164, 164);
  --section-background-color: rgb(85, 85, 85);
  --section-text-color: white;
  --nav-color-links: white;
  --shape-colors: #9c9ca45c;
  --dot-span-color: rgba(255, 255, 255, 0.76);
  --dot-color: rgba(255, 255, 255, 0.76);
  --hamburger-color: white;
  --nav-minibar: white;
  --section-underline-text-color: gray;
  --svg-shape: white;
  --svg-shape-light: rgba(255, 255, 255, 0.445);
  --svg-shape-lighter: rgba(255, 255, 255, 0.151);
  --shape-page1: none;
  --shape-page1-text: black;
}

.lightmode {
  --background-color: rgb(224, 224, 224);
  --section-background-color: white;
  --section-text-color: black;
  --nav-color-links: black;
  --shape-colors: rgba(0, 0, 0, 0.075);
  --dot-span-color: rgba(25, 25, 25, 0.15);
  --dot-color: rgba(25, 25, 25, 0.15);
  --hamburger-color: black;
  --nav-minibar: black;
  --section-underline-text-color: none;
  --svg-shape: #9aceff;
  --svg-shape-light: #81d0d185;
  --svg-shape-lighter: #81d0d13f;
  --shape-page1: none;
  --shape-page1-text: black;
}

.squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 2s linear infinite alternate;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.cassie-logo {
  width: 70vw;
  visibility: inherit;
  transform: translateY(-20%);
}

.loading {
  height: 100vh;
  width: 100%;
  background-color: #fe974d;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}


body {
  color: var(--section-text-color);
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: var(--background-color);
}

h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

p {
  color: var(--section-text-color);
}
  h2 {
  color: var(--section-text-color);
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 5rem;
  letter-spacing: -5px;
  line-height: 0.9em;
  /* min-width: 80vh; */
}

a {
  font-size: 1.5rem;
}

.grid-title h4 {
  color: white;
}
.pg-pips a {
  font-size: 1rem;
}
.section-title-center-big {
  min-width: 80vh;
}

.section-sub-title {
  width: 100%;
  display: block;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -1px;
  line-height: 0.9em;
  padding: 1.5rem;
}

.section-head-title {
  color: white;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -1px;
  line-height: 0.9em;
  padding: 1.5rem;
  text-align: center;
}

.section-sub-title-left {
  color: var(--section-text-color);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2;
  /* margin-top: 5rem; */
  letter-spacing: -1px;
  line-height: 0.9em;
  text-align: left;
  width: 30vw;
  left: 12vh;
  padding-left: 0.2em;
  /* top: -30vh; */
}

.section-title-left {
  color: var(--section-text-color);
  text-align: left;
  /* position: absolute; */
  /* width: 60vh; */
  left: 12vh;
  top: -30vh;
  padding-bottom: 0.2em;
}

.text .btn {
  margin-top: 1rem;
}

.pg-pips {
  display: flex;
}

.token.string,
.token.number,
.token.comment,
.token.keyword,
.token.attr-value {
  opacity: 0.6;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: var(--section-text-color);
  position: relative;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

.alert {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.zoom-zoom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  transition: all 500ms;
  background-color: var(--section-background-color);
}

.pg-active .zoom-zoom {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav a {
  color: var(--nav-color-links);
}

a::before {
  outline: none;
  color: var(--section-text-color);
  text-decoration: line-through;
}

a.active::before {
  text-decoration: none !important;
  border: none;
}

nav li:nth-child(1) a::before {
  content: "L";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(2) a::before {
  content: "P";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(3) a::before {
  content: "S";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
nav li:nth-child(4) a::before {
  content: "C";
  background: transparent;
  margin-left: -20px;
  font-size: 0.8em;
  position: absolute;
  color: var(--section-text-color);
}
.pg-pips span::after {
  background: var(--dot-span-color); /*shadow for the nav dot span */
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

/* dot navigation span */
.pg-pips li .active span {
  background: var(--dot-color);
  position: absolute;
}

.pg-pips li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

.pg-pips ul {
  margin: 0;
  padding: 0;
}

.pg-pips ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pg-pips ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.pg-pips ul li a.active span,
.pg-pips ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

/* inactive .pg-pipsigation dots */
.pg-pips ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: var(--dot-span-color);
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

.pg-pips ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#settings-open {
  color: var(--nav-minibar);
  font-size: 35px;
  position: absolute;
  right: -130px;
  top: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.active #settings-open {
  right: -80px;
}

#settings-open span {
  line-height: 0;
}

.active#settings span {
  position: absolute;
  /* left: -25px; */
  z-index: 1;
}

#settings {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 250px;
  /* font-family: "Inconsolata"; */
  font-size: 14px;
  -webkit-transform: translate3d(-265px, 0, 0);
  transform: translate3d(-265px, 0, 0);
  transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#settings.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#settings .settings-inner {
  border: 3px solid var(--nav-minibar);
  border-radius: 4px;
  padding: 15px;
}

@media (min-width: 767px) {
  .settings-inner {
    display: none;
  }
}

#settings h4 {
  margin: 10px 0 5px 0;
  padding: 6px 15px;
  color: var(--nav-minibar);
  text-transform: uppercase;
}
#settings button,
#settings select {
  border-radius: 4px;
  background-color: transparent;
  padding: 6px 12px;
  /* font-family: "Inconsolata"; */
  font-weight: bold;
  cursor: pointer;
  width: 125px;
}

#settings select:active {
  background-color: transparent;
}

#settings button {
  float: left;
  width: 75px;
  margin: 0 10px 15px 0;
}
#settings select {
  display: block;
  margin-top: 5px;
}
#settings label {
  color: var(--nav-minibar);
  font-weight: bold;
}
#settings .setting {
  padding: 6px 12px;
}
#settings .output {
  float: right;
}

.mb-bar {
  background-color: var(--nav-minibar);
}

.mb-track.mb-track-x {
  display: none;
}

#scroll {
  height: 90vh;
}

#listeners {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
#listeners li {
  list-style: none;
  border: 3px solid var(--nav-minibar);
  border-radius: 3px;
  color: var(--nav-minibar);
  padding: 6px 12px;
  margin: 0 10px 10px 0;
  font-weight: bold;
}
#listeners li.active {
  background-color: var(--section-background-color);
  color: var(--section-text-color);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
  border: 3px solid var(--nav-minibar);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.checkbox,
.radio {
  align-items: center;
  display: flex;
  min-height: 35px;
  position: relative;
}

.radio input,
.checkbox input {
  border: 0 none !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.radio > input + label,
.checkbox > input + label {
  cursor: pointer;
  padding: 3px 0 0 30px;
  position: relative;
  color: #fff;
}

.radio > input:disabled + label,
.checkbox > input:disabled + label {
  opacity: 0.6;
  cursor: not-allowed;
}

.radio > input + label::before,
.radio > input + label::after,
.checkbox > input + label::before,
.checkbox > input + label::after {
  font-family: "Material Design Icons";
  font-size: 21px;
  height: 25px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 25px;
  font-weight: normal;
}

.checkbox > input + label::after {
  content: "";
}

.checkbox > input:checked + label::after {
  content: "";
}

.radio > input + label::after {
  content: "";
}

.radio > input:checked + label::after {
  content: "";
}

.rangeable-container {
  margin: 20px 0 20px 0;
}

.rangeable-handle {
  border-color: transparent;
  width: 18px;
  height: 18px;
}

.rangeable-progress {
  height: 2px;
  background-color: #fff;
}

.rangeable-tooltip {
  background-color: transparent;
}
.rangeable-tooltip::before {
  border-color: transparent;
}

.rangeable-track {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  border: 3px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
}

.selectr-selected {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 7px 28px 7px 18px;
}
.selectr-selected::before {
  border-color: #fff transparent transparent;
}

.selectr-options {
  padding: 8px;
  overflow: hidden;
}

.selectr-option {
  border-radius: 2px;
  padding: 6px 10px;
}

.selectr-container.native-open .selectr-selected::before,
.selectr-container.open .selectr-selected::before {
  border-color: transparent transparent #000;
}

.selectr-container.open .selectr-selected {
  color: #000;
  background-color: #fff;
  border-color: #fff #fff transparent;
}

.selectr-options-container {
  border-width: 0 3px 3px;
  border-color: transparent #fff #fff;
}

.progress {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 5px;
}
.progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  background-color: #fff;
}

.page-progress {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 20px;
}

circle.background-circle {
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 87.9645943005 87.9645943005;
  stroke-dashoffset: 87.9645943005;
}

/* Popup box BEGIN */

.hidden {
  display: none;
}
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.allProjects {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  left: 0;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

/*  */

a {
  outline: none;
  color: var(--nav-color-links);
  text-decoration: line-through;
}

a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: var(--nav-minibar);
}

.formbtn {
  margin: unset;
  height: 24px;
  color: white !important;
  background: #fe974d !important;
  padding: 0;
}

#settings select {
  color: var(--nav-minibar);
  border-color: var(--nav-minibar);
}

a:hover,
a:visited,
.active {
  /* color: var(--section-text-color); */
  text-decoration: none !important;
  border: none;
}

button:focus,
a:link {
  outline: none;
  color: var(--nav-color-links);
  text-decoration: line-through;
  box-shadow: none;
  border-color: transparent;
}

*:focus {
  outline: none;
}

.btn:hover,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.bg-fixed {
  background-size: cover;
}

.bg-grey {
  background-color: #f7f8f9;
}

.fs-40 {
  font-size: 40px;
}

section {
  position: relative;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
}

.section-title {
  text-align: center;
}
.title-wrap {
  text-align: center;
  width: 65vh;
  background-color: var(--shape-page1);
  padding: 20px;

  border-radius: 3%;
}

.zoom-zoom .container {
  margin-left: 0px;
  margin-right: 0px;
}

.title-wrap {
  left: 0;
}

.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24),
    0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

#header-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.jumbotron {
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: unset;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
}

.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:before {
  position: absolute;
  display: block;
  content: "";
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: #ffffff; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #36a7af, #0011ff); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #36a7af, #0011ff); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .jumbotron h1 {
  line-height: 0.9;
  font-weight: bold;
  display: inline-block;
  border: 15px solid #fff;
  padding: 30px;
  font-size: 9rem;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: 0.8s;
} */

.jumbotron-single h1 {
  font-size: 3rem !important;
}

/*=====  End of BUTTON  ======*/

/*==============================
=            SHAPES            =
================================*/

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-15deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(50deg);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid;
  border-color: var(--shape-colors);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid;
  border-color: var(--shape-colors);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  left: 5%;
  top: 50%;
  animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
}

.circle-2 {
  width: 70px;
  height: 70px;
  top: 20%;
  left: 83%;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}

.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}

.circle-4 {
  top: 10%;
  left: 15%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: var(--shape-colors);
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 4s infinite;
}
@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(25deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(1%, 3%) rotate(25deg);
  }
  50% {
    transform: translate(2%, 1%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 3%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

.triangle {
  width: 30%;
  padding-bottom: 21.27%; /* = width / 1.41 */
  position: absolute;
  overflow: hidden;
  border-bottom: 2px solid;
  border-color: var(--shape-colors);
}

.triangle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  transform-origin: 0 100%;
  transform: rotate(45deg);
  border-color: var(--shape-colors);
}

.triangle-1 {
  top: -40%;
  left: 5%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 6s infinite;
}
.triangle-1 img {
  height: 50px;
  width: 50px;
  transform: rotate(30deg);
}

.triangle-2 {
  top: 25%;
  right: 5%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 8s infinite;
}
.triangle-2 img {
  width: 75px;
  height: 75px;
  transform: rotate(15deg);
}

.triangle-3 {
  top: 80%;
  left: 15%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 10s infinite;
}
.triangle-3 img {
  width: 45px;
  height: 45px;
  transform: rotate(40deg);
}

.triangle-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 5s infinite;
}
.triangle-4 img {
  width: 45px;
  height: 45px;
  transform: rotate(-40deg);
}

/*=====  End of SHAPES  ======*/

/*=================================
=            PORTFOLIO            =
=================================*/
.filter-button-group {
  margin-bottom: 15px;
}
.filter-button-group a {
  margin: 5px;
  cursor: pointer;
}

.grid-link a {
  margin: 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.grid-portfolio {
  overflow: hidden;
}

.gutter-sizer {
  width: 2%;
}

.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.grid-item:hover .grid-info {
  top: 50%;
  opacity: 1;
}

.grid-item-wrapper:before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.grid-item-wrapper:hover:before {
  opacity: 1;
}

.grid-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

/* .lightcase-icon-close:before {
  content: "\e800";
  font-family: "Linearicons-Free";
} */

.grid-title {
  text-align: center;
}

/*=====  End of PORTFOLIO  ======*/

/*=====  Form  ======*/

#my-form option {
  color: black;
}

.my-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  box-shadow: none;
}

#my-form label {
  padding-top: 0px;
}

.card {
  left: 40vh;
  position: absolute;
  width: 40vw;
  overflow: hidden;
  z-index: 2;
}

.page-card-format {
  padding: 20px;
  margin-top: 10px;
}

.my-form > textarea {
  margin-top: 10px;
}
.my-form {
  position: relative;
  margin: 0;
  color: #757575;
}
.underline {
  /* display: block; */
  position: relative;
  height: 1px;
  width: 100%;
  top: 100%;
  background-color: #8cd8f7;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: 0% 50%;
  /* transform-origin: 100% 50%; */
}

input:focus ~ .underline {
  transform: scaleX(1);
}
/* input:focus + .underline {
  transform: scaleX(1);
} */

::-webkit-input-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
::-moz-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
:-ms-input-placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}
::placeholder {
  color: rgb(163, 159, 159);
  font-size: 18px;
}

/* *,
::after,
::before {
  box-sizing: unset !important;
} */

.hidden {
  display: none;
}

.field input,
.field textarea {
  /* float: left; */
  /* width: 60vh; */
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.mdb-select,
textarea {
  width: 100%;
}

.bad .underline,
.bad input,
.bad select,
.bad textarea {
  /* background-color: #ce5454; */
  border-bottom: 1px solid #ce5454;
  position: relative;
  left: 0;
  -moz-animation: 0.4s 1 shake ease;
  -webkit-animation: 0.4s 1 shake ease;
}
/*=====  END Form  ======*/

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--hamburger-color);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: var(--hamburger-color);
}

.hamburger.is-active .hamburger-inner {
  top: 11px;
}
.hamburger .hamburger-box {
  height: 0;
}

select option {
  background: transparent;
  color: var(--nav-minibar);
}

.next-btn {
  display: block;
  background: #fe974d;
  color: white !important;
  margin-top: 20px;
  font-size: 17px;
}

.fake-back {
  background: var(--svg-shape);
  height: 100vh;
  width: 100vh;
  position: absolute;
  left: -20vw;
  z-index: -1;
}

.hit {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.scroll {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.5);
  font-family: "font-2";
  font-size: calc(0.5rem + 0.35vw);
  z-index: 10;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  z-index: 10;
}
.logo img {
  display: block;
  height: 1rem;
  width: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  position: absolute;
  top: 2rem;
  z-index: 10;
}
.nav--left {
  left: 1rem;
}
.nav--right {
  right: 1rem;
}
.nav ul {
  display: flex;
  align-items: center;
  height: 1rem;
}
.nav li {
  display: block;
  margin: 0 1rem;
  padding: 0;
}
.nav a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 0.35vw);
  font-family: "helvetica neue", helvetica, sans-serif;
}
.nav a span {
  position: relative;
}
.nav a span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.35rem;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.nav a:hover span:before,
.nav a.is-active span:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  transform-origin: left;
}

.vert-text {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 15rem;
  display: flex;
  align-items: center;
  z-index: -10;
}
.vert-text span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
  -webkit-transform: rotate(-90deg) translateY(15rem);
  transform: rotate(-90deg) translateY(15rem);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  font-size: 1.35rem;
}

.cart-total {
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slider__text {
  position: absolute;
  bottom: calc(2rem + 3vw);
  left: calc(2rem + 3vw);
  z-index: 10;
  font-size: 3rem;
  text-transform: uppercase;
  -webkit-transform-origin: top;
  transform-origin: top;
  line-height: 1.075;
  color: #fff;
  font-weight: 500;
  text-align: left;
}
.slider__text-line {
  overflow: hidden;
}
.slider__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slider__nav {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  height: 0px;
}
.slider-bullet {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.slider-bullet__text {
  color: #fff;
  font-size: 0.65rem;
  margin-right: 1rem;
}
.slider-bullet__line {
  background-color: rgba(255, 255, 255, 0);
  height: 1px;
  width: 1rem;
}
figure img {
  padding: 20px;
}

.slider canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.slide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slide__img {
  position: relative;
  width: 25vw;
  height: 70vh;
  padding: 0;
  margin: 0;
  min-width: 12.5rem;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-animation: color_change_out 1s forwards;
  animation: color_change_out 1s forwards;
}

#my-form label {
  color: black;
}

.slide__img:hover {
  -webkit-animation: color_change_in 1s forwards;
  animation: color_change_in 1s forwards;
}

@-webkit-keyframes color_change_in {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}
@-moz-keyframes color_change_in {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}
@-ms-keyframes color_change_in {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}
@-o-keyframes color_change_in {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}
@keyframes color_change_in {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: none;
  }
}
@-webkit-keyframes color_change_out {
  from {
    -webkit-filter: grayscale(0);
    filter: none;
  }
  to {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
@-moz-keyframes color_change_out {
  from {
    -webkit-filter: grayscale(0);
    filter: none;
  }
  to {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
@-ms-keyframes color_change_out {
  from {
    -webkit-filter: grayscale(0);
    filter: none;
  }
  to {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
@-o-keyframes color_change_out {
  from {
    -webkit-filter: grayscale(0);
    filter: none;
  }
  to {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
@keyframes color_change_out {
  from {
    -webkit-filter: grayscale(0);
    filter: none;
  }
  to {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.slide__img:first-child {
  top: -1.5rem;
}
.slide__img:last-child {
  bottom: -1.5rem;
}
.slide__img img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* social-media */
@font-face {
  font-family: "social-media";
  src: url("https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/fonts/1551518053.eot");
  src: url("https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/fonts/1551518053.eot?#iefix")
      format("embedded-opentype"),
    url("https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/fonts/1551518053.woff")
      format("woff"),
    url("https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/fonts/1551518053.ttf")
      format("truetype"),
    url("https://file.myfontastic.com/7vRKgqrN3iFEnLHuqYhYuL/fonts/1551518053.svg#1551518053")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "social-media" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "social-media" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}
.icon-pinterest:before {
  content: "\65";
}
.icon-linkedin:before {
  content: "\66";
}

@media (max-width: 815px) {
  .jumbotron {
    min-height: 500px;
  }
}
@media (min-width: 1675px) {
  .section-sub-title-left {
    width: 504px;
  }
}

#fh5co-main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  overflow-y: scroll;
}
#fh5co-main-nav .fh5co-nav-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 0;
  padding: 0 !important;
  visibility: hidden;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-main-nav .fh5co-nav-toggle:hover {
  background: rgba(0, 0, 0, 0.7);
}
#fh5co-main-nav .fh5co-nav-toggle i {
  top: 19px !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0;
  text-indent: 0;
}
#fh5co-main-nav .fh5co-nav-toggle.show {
  visibility: visible;
  opacity: 1;
}
.menu-show #fh5co-main-nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#fh5co-main-nav ul {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul {
    padding: 20px 0 0 0;
  }
}
#fh5co-main-nav ul li {
  padding: 0;
  margin: 0;
}
#fh5co-main-nav ul li a {
  display: block;
  width: 100%;
  color: white;
  font-size: 50px;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul li a {
    font-size: 30px;
    padding: 10px 0;
  }
}
#fh5co-main-nav ul li a:hover {
  background: rgba(0, 0, 0, 0.4);
}
#fh5co-main-nav ul li a:hover,
#fh5co-main-nav ul li a:active,
#fh5co-main-nav ul li a:focus {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  text-decoration: none;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all 0.2s ease-out;
}
.menu-show .fh5co-nav-toggle i {
  background: #fff;
  color: #fff;
}
.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .fh5co-nav-toggle i::before,
.menu-show .fh5co-nav-toggle i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.dark i::before,
.fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
  }
}

.phone {
  height: 90vh;
  width: 75vw;
  background: rgba(177, 172, 172, 0.301);
  top: 10vh;
  bottom: 10vh;
  position: relative;
  overflow: hidden;
  margin-left: 20vw;
}
.phone .header {
  width: 100%;
  height: 70px;
  background: #9f1cfb;
  top: 0;
  padding: 20px;
  position: relative;
}
.phone .header .search {
  margin: 0 auto;
  width: 140px;
  border-radius: 20px;
  height: 35px;
  background: #b552ff;
}
.phone .header .like {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 20px;
  top: 30px;
}
.phone .header .like svg {
  width: 100%;
  position: relative;
  left: 0;
  height: 16px;
  fill: #e8d1f9;
  z-index: 2;
}
.phone .footer {
  position: absolute;
  bottom: 0;
  padding: 25px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 200000;
}
.phone .footer i {
  position: relative;
  width: 100%;
}
.phone .footer .button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.phone .footer .delete {
  cursor: pointer;
  background-color: #4a4559;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.phone .footer .delete svg {
  position: absolute;
  fill: white;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 50%;
  margin-top: -15px;
  z-index: 2;
}
.phone .footer .like {
  cursor: pointer;
  background-color: #ff2a64;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.phone .footer .like svg {
  position: absolute;
  fill: white;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 50%;
  margin-top: -15px;
}

.cards-wrapper {
  position: absolute;
  top: 110px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
}
.cards-wrapper li {
  background: white;
  width: 50vw;
  height: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.cards-wrapper li.open {
  cursor: default;
}
.cards-wrapper li:nth-child(1) {
  -webkit-transform: scale(0.6) translateY(-115px);
  transform: scale(0.6) translateY(-115px);
}
.cards-wrapper li:nth-child(2) {
  -webkit-transform: scale(0.7) translateY(-60px);
  transform: scale(0.7) translateY(-60px);
}
.cards-wrapper li:nth-child(3) {
  -webkit-transform: scale(0.8) translateY(-15px);
  transform: scale(0.8) translateY(-15px);
}
.cards-wrapper li:nth-child(4) {
  -webkit-transform: scale(0.9) translateY(25px);
  transform: scale(0.9) translateY(25px);
}
.cards-wrapper li:nth-child(5) {
  -webkit-transform: scale(1) translateY(60px);
  transform: scale(1) translateY(60px);
}
.cards-wrapper li:nth-child(6) {
  -webkit-transform: scale(1) translateY(60px);
  transform: scale(1) translateY(60px);
}
.cards-wrapper .card-header {
  top: 0;
  width: 100%;
  height: 95px;
  display: table;
  padding: 10px 20px;
}
.cards-wrapper .card-header .menu {
  display: table-cell;
  vertical-align: middle;
  color: white;
  opacity: 1;
}

.cards-wrapper .card-header .close {
  display: table-cell;
  color: white;
  text-align: right;
  vertical-align: middle;
  opacity: 0;
}
.cards-wrapper .card-header .close svg {
  position: relative;
  width: 16px;
  height: 16px;
  fill: white;
  cursor: pointer;
}
.cards-wrapper .card-content {
  text-align: center;
}
.cards-wrapper .card-content .circle {
  width: 100px;
  height: 100px;
  background: #d2d2d2;
  border-radius: 100%;
  margin-bottom: 35px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
}
.cards-wrapper .card-content .text {
  height: 18px;
  border-radius: 50px;
  background: #d2d2d2;
  margin: 15px auto;
  max-width: 140px;
}
.cards-wrapper .card-content .text:last-child {
  max-width: 85px;
}
.cards-wrapper .yellow .card-header {
  background: #f6e570;
}
.cards-wrapper .sky .card-header {
  background: #21ccff;
}
.cards-wrapper .blue .card-header {
  background: #0d0de9;
}
.cards-wrapper .green .card-header {
  background: #0edfb5;
}
.cards-wrapper .pink .card-header {
  background: #ef03fc;
}

.hidden {
  visibility: hidden;
}

canvas {
  height: 100vh !important;
}

@media (max-width: 560px) {
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 2rem;
    letter-spacing: 0px;
    line-height: 1em;
  }
}

@media (max-width: 980px) {
  .portfolio-holder {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 845px) {
  .portfolio-holder {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 790px) {
  .portfolio-holder {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1628px) {
  .phone {
    width: 70vw;
  }
}
@media (max-width: 1490px) {
  .phone {
    width: 60vw;
  }

  .card {
    width: 60vw;
  }
}
@media (max-width: 1200px) {
  .phone {
    width: 50vw;
  }
  .card {
    left: 30vh;
    width: 70vw;
  }
}

@media (max-width: 1012px) {
  svg.backgroundpicture {
    display: none !important;
  }
  .title-wrap {
    width: 100%;
  }
  .section-sub-title-left {
    width: 100%;
  }
  .phone {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90vw;
    height: 90vh;
  }
  .cards-wrapper li {
    width: 80vw;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    width: 75vw;
  }
}

@media (max-width: 665px) {
  .cards-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  a::before {
    content: " ";
    display: none;
  }
  .filter-button-group {
    display: flex;
    flex-flow: column wrap;
  }
  .filter-button-group a {
    text-align: center;
  }

  a {
    font-size: 1rem;
  }

  .section-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  h2 {
    margin-top: 0rem;
    font-size: 3rem;
  }
}

/* ---------- LIVE-CHAT ---------- */

#live-chat h4 {
  margin-bottom: 0px;
}
#live-chat a {
  text-decoration: none;
}

#live-chat h4,
#live-chat h5,
#live-chat p,
#live-chat a,
.chat-message-content span {
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

#live-chat {
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 300px;
  z-index: 2;
}

#live-chat header {
  background: #e6e6e6;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4:before {
  background: #1a8a34;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 8px;
  margin: 0 8px 0 0;
  width: 8px;
}

#live-chat h4 {
  font-size: 14px;
}

#live-chat h5 {
  font-size: 10px;
}

#live-chat form {
  padding: 24px;
}

#live-chat input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter span {
  color: white;
}

.chat-message-counter {
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close {
  /* background: #1b2126; */
  border-radius: 50%;
  color: rgb(0, 0, 0);
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
  display: none;
}

.chat-close:hover {
  color: rgb(0, 0, 0);
}
.chat {
  background: #fff;
  display: none;
}

.chat-history {
  height: 252px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.chat-message {
  margin: 16px 0;
}

.chat-message img {
  border-radius: 50%;
  float: left;
}

.chat-message-content {
  margin-left: 56px;
}

.chat-time {
  float: right;
  font-size: 10px;
}

.chat-feedback {
  font-style: italic;
  margin: 0 0 0 80px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.frame__mode {
  margin: 1rem auto;
  display: flex;
  justify-content: left;
  margin-bottom: 1.5rem;
}

.frame-ring {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

.frame__mode-item {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 0.25rem;
  pointer-events: auto;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  border: solid var(--nav-minibar);
  border-block-width: inherit;
}

.frame__mode-item--dark {
  background: #000;
}

.frame__mode-label,
.frame__mode-input {
  font-size: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.grid__item--cursor.grid__item--down {
  height: 30vh;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 448 512' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath d='M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z'/%3E %3C/svg%3E")
      30 22,
    sw-resize;
}

.grid__item--cursor.grid__item--up {
  height: 30vh;
  top: 0;
  z-index: 1;
  position: absolute;
  width: 100vw;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 448 512' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath d='M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z'/%3E %3C/svg%3E")
      30 22,
    sw-resize;
}

.grid--interaction {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.google img,
.github img,
.facebook img {
  width: 20px;
  position: relative;
}
.google,
.github,
.facebook {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ababab;
  border-radius: 4px;
  transition: all 0.6s;
  font-size: 14px;
  display: block;
}
