{% load static i18n %}

<div class="jumbotron zoom-zoom">
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  {% include "../components/page_1_background.html" %}
  <div class="container">
    <!-- Section Title -->
    <div class="title-wrap">
      <div style="float:left; display:inline;">
      <h2 class="section-title-left">Break free from static design</h2> 
      {% include "../components/darkmodeToggle.html" %}</div>
      <p class="section-sub-title-left">
        Good design can only be achieved with careful composition and intimate
        collaboration with your developer.
      </p>
      <p class="section-sub-title-left">
        Does your website need a refreshing? Give us a call.
      </p>
      
    </div>
  </div>
  <div class="grid grid--interaction">
    <a href="#portfolio-2" class="grid__item grid__item--cursor grid__item--down"></a>
  </div>
  

</div>
