{% load static i18n %}


<div class="row">
  <!-- Portfolio Holder -->
  <div class="col-md-12 portfolio-holder mt-3">
    <!-- Btn Filter -->
    <div
      class="filter-button-group btn-filter d-flex justify-content-center"
    >
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle">Show All</a>
      <a tabindex="0" class="is-checked" data-filter="*">Clear Filters</a>
      <a tabindex="0" data-filter=".desktop">Desktop app</a>
      <a tabindex="0" data-filter=".web">Web app</a>
    </div>
    <!-- End of Btn Filter -->
    <!-- Portfolio Content -->
    <div class="grid-portfolio">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <!-- Portfolio Item -->
      <div class="grid-item desktop" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
            src="{% static 'img/projects/jira desktop app main.jpg' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://github.com/hupratt/jira-utilities/tree/master/"
                title="Aris desktop app"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://github.com/hupratt/jira-utilities/tree/master/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Python desktop app</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
      <!-- Portfolio Item -->
      <div class="grid-item web" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
          src="{% static 'img/projects/craft studios.jpg' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://portfolio.pythonbots.site"
                title="Ship"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://portfolio.pythonbots.site"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Craft Studio's website</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
      <!-- Portfolio Item -->
      <div class="grid-item web grid-item-height" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
          src="{% static 'img/projects/lpp.jpg' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://www.lapetiteportugaise.eu"
                title="Tracy Portrait"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://www.lapetiteportugaise.eu"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Bookstore & Event venue</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
      <!-- Portfolio Item -->
      <div class="grid-item web" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
            src="{% static 'img/projects/pbots.jpg' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://www.pythonbots.site/"
                title="Guitar"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://www.pythonbots.site/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Blog</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
      <!-- Portfolio Item -->
      <div class="grid-item web" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
          src="{% static 'img/projects/saleor.png' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                id="book"
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://shop.lapetiteportugaise.eu"
                title="Bookself"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://shop.lapetiteportugaise.eu"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Online book store</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
      <!-- Portfolio Item -->
      <div class="grid-item web" data-aos="fade-up">
        <div class="grid-item-wrapper">
          <img
            src="{% static 'img/projects/rural portugal.jpg' %}"
            alt="portfolio-img"
            class="portfolio-item"
          />
          <div class="grid-info">
            <div class="grid-link d-flex justify-content-center">
              <a
                class="img-pop js-fh5co-nav-toggle"
                data-rel="lightcase"
                href="https://rural.pythonbots.site/"
                title="Guitar"
              >
                <span class="lnr lnr-move"></span>
              </a>
              <a
                class="ext-link"
                href="https://rural.pythonbots.site/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="lnr lnr-link"></span>
              </a>
            </div>
            <div class="grid-title">
              <h4>Hotel booking website</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Portfolio Item -->
    </div>
    <!-- End of Portfolio Content -->
  </div>
  <!-- End of Portfolio Holder -->
</div>


