<div class="phone">
  <div class="header">
    <div class="search"></div>
    <div class="like">
      <svg>
        <use xlink:href="#love" />
      </svg>
    </div>
  </div>
    <ul class="cards-wrapper">
      <li class="card pink">
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">Adversities of the tech industry</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">A rant about entrepreneurship in the tech industry <br>
            "When we succeed to build software for complex environments we make up a story of what we did and how we approached the task. Those stories are much more linear than the reality because no one wants to admit we weren't in control the whole time" (Barry O'Reilly)
            this kind of honesty is rare
            in a world that defines competence by your ability to plan and execute.             <br>
            This is however the kind of mindset entrepreneurs should embrace to deliver software that user actually want to use #changemanagement #breaktherules          
        </div></div>
      </li>
      <li class="card yellow">
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">Serverless, Docker, Java, C#, Springboot?</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">Serverless, Docker, Kubernetes, Java, C#, Springboot? The vast array of choices for building your idea can seem daunting and can lead to downright confusion. At Craft we tailor our apps to your needs by choosing the technology stack that fits your budget, needs and aspirations. <br>
            After years of working for large service companies we believe that truly innovative products can only be achieved within small teams. The promise of large corporations being the sole driver of innovation thanks to its diverse and large employee base is nothing but a myth.
            <br>
            It is incredibly difficult to ensure good communication and a governance system that strives to keep the customer's needs at the top of everyone's agenda. At Craft our small teams allow us to do without complicated infrastructure, bureaucracy or technical debt to deliver you the best solutions.      
          </div>
        </div>
      </li>
      <li class="card sky">
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">Does adding more developers to your project increase your odds of delivering on time?</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">
            <ul>As team size increases so does the hassle of coordinating information and work between team members. Without the right processes in place, adding more bodies to the task does not always help. So how would we go about solving this conundrum? We will need data to answer this question as objectively as possible. So how would we go about measuring the marginal impact of a new person to the team?</ul>
            <ul>You could start with the place where developers deploy their code: the source control system. Let's start by drawing up the number of commits by day and by developer on the axes. Here we are going off the premise that commits to the codebase are synonymous to valuable work and that each commit braings a theoretical identical "added value" to the team. This could be a bad proxy for "valuable work being done" so we can switch this metric to the number of successful pull requests if your team is using those. </ul>
            <ul>By now we have a bar chart with a metric and 2 axes, By adding a rolling average of say 1 month you can draw up a trend. I don't usually abide to metrics because, as managers, we often get bad press for measuring the wrong thing so I would recommend being open about it with your team in order to get their feedback as fast as possible and to exercize a fair amount of good judgment.  </ul>
          </div>
        </div>
      </li>
        <li class="card blue"> <!-- sky and yellow colors left -->
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">A/B test everything</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">Are you having trouble getting awareness for your business? You are not alone. Brand marketing used to work in the 70's and 80's. At the time you simply paid a lot of money for posting advertisement and it worked. Nowadays the competition is fierce and pushing ever more noise onto customers is not effective anymore. Consumers have learned to "switch off" once the commercials kick-in. <br> Running effective marketing campaigns nowadays requires the use of direct marketing. If you're measuring customer data in real time you can quickly adjust and run the most profitable version of your website. <br> This is where A/B testing comes in. By running different versions of your idea simulaneously you can see which one generates the most revenue and react accordingly. If you're ready to make the leap and modernize your business come talk to us.<br>
        
          </div>
        </div>
      </li>
      <li class="card green">
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">The technology space is evolving at a rapid pace</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">The technology space is evolving at a rapid pace. In the early 2000's application development was a lenghty endeavour and the programming world was a closed proprietary space. This lead to waterfall projects, expensive licenses and an army of developers only to realize that the idea failed to attract prospects.
            <br>

            <ul>Since then the rise of open source and nimbler programming languages allowed for disruption in the technology space. Prototypes can now be designed, developped and shipped to an open source architecture in a matter of hours for a fraction of the price.</ul>
            <ul>This shift allowed start ups in the technology space to take the world by storm. At Craft we believe this revolution is still creeping into other segments of society such as Finance and Retail.</ul>
          
          </div>
        </div>
      </li>
      <li class="card pink">
        <div class="card-header">
          <span class="menu">
            <div class="section-head-title">Why would you pay for something that might fail to attract customers?</div>
          </span>
          <span class="close">
            <svg>
              <use xlink:href="#cross" />
            </svg>
          </span>
        </div>
        <div class="card-content">
          <div class="section-sub-title">Why would you pay for something that might fail to attract customers? At Craft we will guide you and mitigate that risk for you. We ensure your commercial success by following these 5 golden rules:<br>
            <ul>- Short Development cycles: by prototyping minimum viable products and getting the app to your customers as fast as possible.</ul>
            <ul>- Lots of Experimenting: experimenting extensively through A/B testing and short development cycles ensures that you are venturing in the right direction.</ul>
            <ul>- Analytics: get real time data on how well your customer base is reacting to your product or service.</ul>
            <ul>- In house design & development: by making and running the app ourselves we ensure you get the app tailored to your budget, needs and aspirations.</ul>
            <ul>- Small teams: developing innovative solutions can only be achieved through effective communication and small teams of complementary talents.</ul>             
          </div>
        </div>
      </li>
      
    </ul>
  <div class="footer">
    <div class="delete button">
      <svg>
        <use xlink:href="#cross" />
      </svg>
    </div>
    <div class="like button">
      <svg>
        <use xlink:href="#love" />
      </svg>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg">

<symbol id="love" viewBox="0 0 510 510">
  <g id="favorite">
    <path d="M255,489.6l-35.7-35.7C86.7,336.6,0,257.55,0,160.65C0,81.6,61.2,20.4,140.25,20.4c43.35,0,86.7,20.4,114.75,53.55
      C283.05,40.8,326.4,20.4,369.75,20.4C448.8,20.4,510,81.6,510,160.65c0,96.9-86.7,175.95-219.3,293.25L255,489.6z"/>
  </g>
</symbol>

<symbol id="cross" viewBox="0 0 357 357">
  <g id="clear">
    <polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 
      214.2,178.5 		"/>
  </g>
</symbol>
</svg>

