{% load static i18n %}


<div class="slider js-slider">
  <div class="slider__inner js-slider__inner"></div>
  
  <div class="slide js-slide">
    <div class="slide__content">
      <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo1.jpg">
      </figure>
       <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo2.jpg">
      </figure>
    </div>
    
    <div class="slider__text js-slider__text">
      <div class="slider__text-line js-slider__text-line"><div>Black is</div></div>
      <div class="slider__text-line js-slider__text-line"><div>timeless. Black is</div></div>
      <div class="slider__text-line js-slider__text-line"><div>the colour of</div></div>
      <div class="slider__text-line js-slider__text-line"><div>Eternity.</div></div>
    </div>
    
  </div>
  
  <div class="slide js-slide">
    <div class="slide__content">
      <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo3.jpg">
      </figure>
       <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo4.jpg">
      </figure>
    </div>
  </div>
  
  <div class="slide js-slide">
    <div class="slide__content">
      <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo5.jpg">
      </figure>
       <figure class="slide__img js-slide__img">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/photo6.jpg">
      </figure>
    </div>
  </div>
  
  <nav class="slider__nav js-slider__nav">
    <div class="slider-bullet js-slider-bullet">
      <span class="js-slider-bullet__text"></span>
      <span class="slider-bullet__line"></span>
    </div>
     <div class="slider-bullet js-slider-bullet">
      <span class="js-slider-bullet__text"></span>
      <span class="slider-bullet__line"></span>
    </div>
     <div class="slider-bullet js-slider-bullet">
      <span class="js-slider-bullet__text"></span>
      <span class="slider-bullet__line"></span>
    </div>
  </nav>
  
  
</div>

<div class="vert-text">
  <span>
    Wings+Horns<br>
    X Kyoto Black
  </span>
</div>