{% load static i18n %}

<div class="jumbotron zoom-zoom">
  <div class="rectangle-transparent-1"></div>
  <div class="rectangle-transparent-2"></div>
  {% include "../components/page_1_background.html" %}
  <div class="container">
    <!-- Section Title -->
    <div class="title-wrap">
      <div style="float:left; display:inline;">
      <h2 class="section-title-left">Break free from static design</h2> 
      {% include "../components/darkmode.html" %}</div>
      <p class="section-sub-title-left">
        Good design can only be achieved with careful composition and intimate
        collaboration with your developer.
      </p>
      <p class="section-sub-title-left">
        Does your website need a refreshing? Give us a call.
      </p>
      
    </div>
  </div>
  <!-- <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="circle-4"></div> -->
  <!-- <div class="triangle triangle-2"></div>
  <div class="triangle triangle-3"></div>
  <div class="triangle triangle-4"></div> -->
   

</div>
