## /etc/systemd/system/daphne.service

[Unit]
Description=daphne daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Dev/portfolio/src
Environment=DJANGO_DEVELOPMENT=True
EnvironmentFile=/home/ubuntu/Dev/portfolio/src/.env
ExecStart=/home/ubuntu/Dev/portfolio/bin/daphne --access-log /home/ubuntu/Dev/portfolio/access.log -b 0.0.0.0 -p 8001 Portfolio.asgi:application

[Install]
WantedBy=multi-user.target