<div class="frame__mode" role="radiogroup">
    
    <div class="frame__mode-item frame__mode-item--dark">
        <input id="mode-1" type="radio" name="mode" class="frame__mode-input"></input>
        <label class="frame__mode-label" for="mode-1">Dark mode</label>
    </div>
    <div class="frame-ring">
        <div class="frame__mode-item">
            <input id="mode-2" type="radio" name="mode" class="frame__mode-input" checked></input>
            <label class="frame__mode-label frame__mode-label--light" for="mode-2">Light mode</label>
        </div>
    </div>
    <p style="font-style: italic;"> click me !</p>
</div>
