<div id="settings">
<div class="settings-inner">
    <a href="#" id="settings-open">
    <button class="hamburger hamburger--stand" id="hamburger" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    </a>
    <div id="scroll">
    <h4>Toggle</h4>
    <div class="setting">

    </div>
    <h4>Methods</h4>
    <div class="setting">
        <button type="button" data-method="prev">prev()</button>
        <button type="button" data-method="next">next()</button>
    </div>
    <div class="setting">
        <label for="scrollToPage">scrollToPage()</label>
        <select id="scrollToPage"></select>
    </div>

    <div class="setting">
        <label for="scrollToAnchor">scrollToAnchor()</label>
        <select id="scrollToAnchor"></select>
    </div>
    <div class="setting">
        <label for="orientate">orientate()</label>
        <select id="orientate"></select>
    </div>
    </div>
</div>
</div>