{% load static i18n %}


<!-- Start of Page 5  -->
<nav id="fh5co-main-nav" role="navigation">

<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active" id="closeme"><i></i></a>

<div class="slider js-slider">
    <div class="slider__inner js-slider__inner"></div>
    
    <div class="slide js-slide">
    <div class="slide__content">
        <figure class="slide__img js-slide__img"> 
        <img src="{% static 'img/projects/lpp logo.jpg' %}" onclick="location.href='https://www.lapetiteportugaise.eu/';" >

        </figure>
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/lpp main.jpg' %}" onclick="location.href='https://www.lapetiteportugaise.eu/';" >
        </figure>
    </div>
    <div class="slider__text js-slider__text">
        <div class="slider__text-line js-slider__text-line"><div>Book store</div></div>
        <div class="slider__text-line js-slider__text-line"><div>landing page</div></div>
        <div class="slider__text-line js-slider__text-line"><div>and events page</div></div>
    </div>
    </div>

    <div class="slide js-slide">
    <div class="slide__content">
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/aris logo.jpg' %}" onclick="location.href='https://github.com/hupratt/jira-utilities/tree/master/';" >
        </figure>
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/jira desktop app main.jpg' %}" onclick="location.href='https://github.com/hupratt/jira-utilities/tree/master/';" >
        </figure>
    </div>
    <div class="slider__text js-slider__text">
        <div class="slider__text-line js-slider__text-line"><div>Desktop app</div></div>
        <div class="slider__text-line js-slider__text-line"><div>for scraping</div></div>
        <div class="slider__text-line js-slider__text-line"><div>and ticket management</div></div>
    </div>
    </div>

    <div class="slide js-slide">
    <div class="slide__content">
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/linkedin-big.jpg' %}" onclick="location.href='https://www.pythonbots.site/';" >
        </figure>
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/pbots.jpg' %}" onclick="location.href='https://www.pythonbots.site/';">
        
        </figure>
    </div>
    
    <div class="slider__text js-slider__text">
        <div class="slider__text-line js-slider__text-line"><div>Blog and </div></div>
        <div class="slider__text-line js-slider__text-line"><div>CMS website</div></div>
        <div class="slider__text-line js-slider__text-line"><div>about datascience</div></div>
    </div>
    
    </div>
    
    <div class="slide js-slide">
    <div class="slide__content">
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/craft bigger.jpg' %}" onclick="location.href='https://www.craftstudios.tech/';" >
        </figure>
        <figure class="slide__img js-slide__img">
        <img src="{% static 'img/projects/craft studios main.jpg' %}" onclick="location.href='https://www.craftstudios.tech/';" >
        </figure>

    </div>
    <div class="slider__text js-slider__text">
        <div class="slider__text-line js-slider__text-line"><div>Agency</div></div>
        <div class="slider__text-line js-slider__text-line"><div>advertising</div></div>
        <div class="slider__text-line js-slider__text-line"><div>web development services</div></div>
    </div>
    
    </div>
    <nav class="slider__nav js-slider__nav">
    <div class="slider-bullet js-slider-bullet">
        <span class="slider-bullet__text js-slider-bullet__text">01</span>
        <span class="slider-bullet__line js-slider-bullet__line"></span>
    </div>
        <div class="slider-bullet js-slider-bullet">
        <span class="slider-bullet__text js-slider-bullet__text">02</span>
        <span class="slider-bullet__line js-slider-bullet__line"></span>
    </div>
        <div class="slider-bullet js-slider-bullet">
        <span class="slider-bullet__text js-slider-bullet__text">03</span>
        <span class="slider-bullet__line js-slider-bullet__line"></span>
    </div>
    <div class="slider-bullet js-slider-bullet">
        <span class="slider-bullet__text js-slider-bullet__text">04</span>
        <span class="slider-bullet__line js-slider-bullet__line"></span>
    </div>
    </nav>
    
    <div class="scroll js-scroll"></div>
    
</div>

<div class="vert-text">
    <span>
    Brought to you<br>
    by Craft studios
    </span>
</div>
<!-- End of Page 5  -->
</nav>
<!-- End of Section Title -->